CohereAPIKey = 
CohereModel = command-r-plus-08-2024
Username= 
Assistantname=
GroqAPIKey = 
GroqChatModel = llama-3.3-70b-versatile
GroqChatFallback = llama-3.1-8b-instant
GroqSearchModel = llama-3.1-8b-instant
GroqSearchFallback = llama-3.3-70b-versatile
TavilyAPIKey1 = 
TavilyAPIKey2 = 
InputLanguage=en, hi
AssistantVoice = en-CA-LiamNeural
HuggingFaceAPIKey = 

# Coding Agent
DeepSeekAPIKey =
OpenRouterAPIKey1 =
OpenRouterAPIKey2 =
OpenRouterAPIKey3 =
OpenRouterAPIKey4 =
OpenRouterAPIKey5 =
OpenRouterAPIKey6 =
CodingGroqAPIKey =
AgentExplainer =
AgentWorkflow =
AgentReasoning =
AgentCodeGen =
AgentEditing =
AgentDebugger =
AgentAsking =
AgentGenAI =
AgentColaborator =
AgentOrchestrator = 